<h4 class="fw-bold">
  <span class="me-1">ðŸ’ª</span>
  <span>ç­‹è‚‰</span>
</h4>

<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "æ¤œç´¢æ¡ä»¶") %>
  </div>

  <div class="card-body">
    <%= search_form_for @search, html: { data: { turbo_frame: "muscles-list" } } do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%= f.label :name_cont, "åå‰", class: "form-label" %>
          <%= f.search_field :name_cont, class: "form-control" %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :code_cont, "ã‚³ãƒ¼ãƒ‰", class: "form-label" %>
          <%= f.search_field :code_cont, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          <%= button_tag(icon_with_text("search", "æ¤œç´¢"), class: "btn btn-primary me-1") %>
          <%= link_to "ãƒªã‚»ãƒƒãƒˆ", muscles_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("table", "ä¸€è¦§") %>
  </div>

  <div class="card-body mx-3">
    <%= turbo_frame_tag "muscles-list" do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :name) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :code) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "ç™»éŒ²"),
                      new_muscle_path,
                      class: "btn btn-outline-primary",
                      data: { turbo_frame: "new_muscle" }
          %>
        </div>
      </div>

      <%= turbo_frame_tag "new_muscle" %>
      <div id="muscles">
        <%= render @muscles %>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <%= paginate @muscles %>
      </div>
    <% end %>
  </div>
</div>
