<p style="color: green"><%= notice %></p>

<h1>Muscles</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, "名前" %>
  <%= f.search_field :name_cont %>

  <%= f.label :code_cont, "コード" %>
  <%= f.search_field :code_cont %>

  <%= f.submit %>

  <%= link_to "クリア", muscles_path %>
<% end %>

<%= sort_link(@search, :name) %>
<%= sort_link(@search, :code) %>

<div id="muscles">
  <% @muscles.each do |muscle| %>
    <%= render muscle %>
    <p>
      <%= link_to "Show this muscle", muscle %>
    </p>
  <% end %>
</div>

<%= paginate @muscles %>

<%= link_to "New muscle", new_muscle_path %>
