<p style="color: green"><%= notice %></p>

<%= render @muscle %>

<div>
  <%= link_to "編集", edit_muscle_path(@muscle) %> |
  <%= link_to "戻る", muscles_path %>

  <%= button_to "削除", @muscle, method: :delete %>
</div>
